@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(183deg, #169fcb 0%, #ff87fc 100%);
  --gradient-bar: linear-gradient(0deg, #00e8ff 0%, #097c41 46%, #0012ff 100%);
  
  --color-bg: #faf0d2;
  --color-footer : #00e8ff;
  --color-blog: #22c1c3;
  --color-text: #2e2d2c;
  --color-subtext: #776391;
}